.container {
  width: 300px;
  margin: 0 auto;
}

.logo{
  height: 50px;
  display: block;
  margin-top: 20px;
  padding-bottom: 20px;
}

input, button {
  border-radius: 6px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li{
  border-bottom: solid 1px black;
  width: 320px;
  padding-bottom: 4px;
  margin-bottom: 5px;
}

ul li span {
  float: left;
  width: 300px;
}
